.imagebrand{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 40vw;
    background-color: #F7F3E9;
    padding-top: 10px;
}
.benefit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.header_eng{
    font-size: 3vw;
    color: #661113;
}
.header_th{
    font-size: 2.2vw;
}
.imagebrand_header{
    padding-bottom: 20px;
}
.benefits img{
    width: 10vw;
}
.benefits{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.BENEFITHEADER{
    font-size: 30px;
    margin-top: -5%;
    font-weight: 600;
    color: #661113;
    text-align: center;
}
.benefitinfo{
    margin-top: -5%;
    font-size: 20px;
}



@media screen and (max-width: 1500px) {
    .imagebrand{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vw;
        background-color: #F7F3E9;
        padding-top: 10px;
    }
    .benefit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_eng{
        font-size: 3vw;
        color: #661113;
    }
    .header_th{
        font-size: 2.2vw;
    }
    .imagebrand_header{
        padding-bottom: 20px;
    }
    .benefits img{
        width: 10vw;
        position: relative;
        top: -15px;
    }
    .benefits{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%; /* Increase width for medium screens */
    }
    .BENEFITHEADER{
        display: flex;
        font-size: 2vw;
        margin-top: -5%;
        font-weight: 600;
        color: #661113;
        align-items: left;
        text-align: left;
        width: 40%;
        height: 20%;
    }
    .benefitinfo{
        display: flex;
        font-size: 2vw;
        align-items: left;
        text-align: left;
        margin-top: -5%;
        width: 100%;
        font-size: 15px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 700px) {
    .imagebrand{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vw;
        background-color: #F7F3E9;
        padding-top: 10px;
    }
    .benefit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_eng{
        font-size: 3vw;
        color: #661113;
    }
    .header_th{
        font-size: 2.2vw;
    }
    .imagebrand_header{
        padding-bottom: 20px;
    }
    .benefits img{
        width: 10vw;
        position: relative;
        top: -15px;
    }
    .benefits{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%; /* Increase width for medium screens */
    }
    .BENEFITHEADER{
        display: flex;
        font-size: 2vw;
        margin-top: -5%;
        font-weight: 600;
        color: #661113;
        align-items: left;
        text-align: left;
        width: 40%;
        height: 20%;
    }
    .benefitinfo{
        display: flex;
        font-size: 2vw;
        align-items: left;
        text-align: left;
        margin-top: -5%;
        width: 100%;
        font-size: 10px;
        margin-left: 30px;
    }
}